{{! <nav>
  <div>
    <a href="/">Library</a>
  </div>
  <div>
    <ul>
      <li> <a href="/authors">All Authors</a></li>
      <li> <a href="/authors/new">New Authors</a></li>
      <li><a href="/books">All books</a></li>
      <li><a href="/books/new">New books</a></li>
    </ul>
  </div>
</nav> }}

<div class="topnav">
  <div><img src="/logo.jpg" height="40px" width="40px" alt="" id="logo" /></div>
  <div>
    <a href="/">Home</a>
    <a href="/authors">All Authors</a>
    <a href="/authors/new">New Authors</a>
    <a href="/books">All books</a>
    <a href="/books/new">New books</a>
  </div>
</div>