<h1>New Authors</h1>
<form action="/authors" method="post" enctype="application/x-www-form-urlencoded">
{{>_form}}
<a href="/authors/new"><button>Cancel</button></a>
<button type="submit">Create</button>
{{error}}
</form>